.style{
    margin-bottom: 5%;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 15%;
    margin: 1%;
    
}

.style p {
    font-style: italic;
    color: orange;
    font-weight: bold;
}

.text-dark{
    text-align: center;
}
.container{
    width: 750px;
    margin-left: 400px;
}
