.container h3{
  color: rgb(245, 230, 241);
  text-decoration: double;
  text-align: center;
}

.container{
  width: 750px;
  background-color: black;
}
label {
  margin-bottom: 5%;
  font-size: 20px;
  color: brown;
  font-weight: bold;
}

#quote{
  height: 30vh;
}

/* .alert-danger{
  background-color: red;
} */
.btn{
  color: white;
  background-color: green;
  width: 130px;
  border-radius: 20px;
  margin-left: 250px;
}
/* .formg-roup{
  margin-left: 650px;
} */
.container3{
  display: flex;
}
.form-control{
  border-radius: 20px;
  color: white;
  background-color: transparent;
  padding: auto;

}
.form-control1{
  border-radius: 20px;
  color: white;
  background-color: transparent;
  width: 450px;
}